# -------------------------------------------------
# Virtual Environment
# -------------------------------------------------
venv/

# -------------------------------------------------
# Python
# -------------------------------------------------
__pycache__/
*.py[cod]
*$py.class

# -------------------------------------------------
# SQLite Database
# -------------------------------------------------
backend/instance/
*.db
*.sqlite3

# -------------------------------------------------
# VS Code
# -------------------------------------------------
.vscode/

# -------------------------------------------------
# Frontend (Vue/Vite)
# -------------------------------------------------
frontend/node_modules/
frontend/dist/

# -------------------------------------------------
# Celery
# -------------------------------------------------
celerybeat-schedule

# -------------------------------------------------
# Redis Export Files
# -------------------------------------------------
backend/exports/

# -------------------------------------------------
# Logs
# -------------------------------------------------
*.log

# -------------------------------------------------
# OS Files
# -------------------------------------------------
.DS_Store
Thumbs.db